button {
    background-color: yellow;
     padding: 10px 20px;
      border: none;
      border-radius: 5px;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      
      
    
      
      
}
body{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-size: 20px;
}

nav a{
color: rgb(7, 42, 86);
font-size: 15px;
display: flex;
gap: 10px;
justify-content: center;
flex-wrap: wrap;
}


h2{
    color: yellow;
    margin: 0;
}
h1{
    color: yellow;
    margin: 0;
}

.side-img{
    float: left;
    width: 220px;
    border-radius: 8px;
    margin-right: 15px;
    margin-bottom: 10px;
}






audio{
    opacity:0.7;
    width:15%;
    height: 40px;
    
}
#myvideo{
   
    position:fixed;
    top: 80px;
    right: 20px;
     background-color: yellow;
     padding: 5px;
     border-radius: 10;
    width: 200px;


}
.top-right{
    position: fixed;
    top: 60px;
    right: 230px;
    width: 200px;
    height: 150px;
    z-index: 2000px;
    background-color:yellow ;
    padding: 5px;
    border-radius: 10px;

}
.img-btn{
    width: 200px;
    cursor: pointer;
}
.colored-line{
    border: none;
    height: 2px;
    background-color: white;
    opacity: 0.3;
    width: 30%;
    margin-left: 0;
}
h5{
    position: fixed;
    text-align: right;
    top: 170px;
    right: 50px;
    size: 10px;
    width: 180px;
   
}
.pop-img{
    width: 200px;
    transition: 0.3s ease;
}
.pop-img:hover{
    transform: scale(1.2);
}
a{
    text-decoration: none;
}
#feedback{
    max-width:300px;
    margin: 60px auto;
    padding: 25px;
    text-align: left;
    padding-left:200px;
    

}
#feedback h2{
    margin-bottom: 10px;
}
#feedback p{
    font-size: 16px;
    margin-bottom: 20px;
    color: white;
}
#feedback input,
#feedback textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 1px solid #ccc;
    border-radius: 4px;
}
#feedback button{
    padding: 10px 25px;
    border: none;
    cursor: pointer;
    font: size 20px;
    background-color:green;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}




